.container {
    background-color: #3333;
    display: grid;
    grid-template-columns: 1.4fr 5fr;
    height: 100%;
    grid-column-gap: 13px ;    
    
}
.header {
    grid-column: span 2;
    line-height: normal;
    margin: 8px;
    padding: 0px;
}

.footer {
    grid-column: span 2;
    margin: auto;
}

@media only screen and (max-width: 700px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .header {
        grid-column: span 1;
    }
    
    .footer {
        grid-column: span 1;
    }
}